.menu-card {
  background: white;
  border-radius: 22px;
  padding: 25px;
  border: 2px solid #eadbc8;

  transition: all 0.3s ease;
  box-shadow: 0 6px 18px rgba(0,0,0,0.05);
}

.menu-card:hover {
  transform: translateY(-6px);

  box-shadow: 0 12px 24px rgba(0,0,0,0.08);
}

.menu-card h2 {
  text-align: center;
  color: #ef6c00;
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.menu-card p {
  margin: 12px 0;
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}

.menu-card strong {
  color: #2c1a0e;
}