.navbar {
  height: 70px;
  padding: 0 50px;
  display: flex;
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.button-btn{
  height: 40px;
  width: 100px;
  background-color: #ff8935;
  border-radius: 7px;
  border: none;
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.company-name {
  color: #ff8935;
  font-size: 1.5rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-right a:hover{
  color: #ff8935;
}

.navbar-right a,
.dropdown span {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  display: none;
  flex-direction: column;
}

.dropdown-content a {
  padding: 12px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background: #f4f4f4;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff6b35;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 18px;
}

.role-text {
  text-transform: capitalize;
  font-weight: 500;
}

.logout-btn {
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;

  background-color: crimson;
  color: white;
}